@tailwind base;

/* TYPOGRAPHY */
// @font-face {
// font-family: "Noto Sans", sans-serif;
// font-weight: 100 900;
// font-display: swap;
// font-style: normal;
// font-feature-settings: "salt", "tnum", "cv08", "calt", "kern";
// font-named-instance: 'Regular';
// src: url("static/fonts/Inter-roman.var.woff2?v=3.12") format("woff2");
// }
// @font-face {
//   font-family: 'Inter var';
//   font-weight: 100 900;
//   font-display: swap;
//   font-style: italic;
//   font-feature-settings: "salt", "tnum", "cv08", "calt", "kern";
//   font-named-instance: 'Italic';
//   src: url("static/fonts/Inter-italic.var.woff2?v=3.12") format("woff2");
// }

body {
  @apply bg-gray-700 font-notoSans;
}
h1,
h2,
h3,
h4 {
  @apply font-notoSerif;
}
h1 {
  @apply text-2xl mt-3 font-bold;
}
h2 {
  @apply text-xl mt-2 font-bold;
}
h3 {
  @apply text-lg mt-1 font-bold;
}
h4,
h5,
h6,
p,
hr {
  @apply mt-2;
}
a {
  @apply text-gray-900 underline;
}
a:focus,
a:hover {
  @apply text-gray-800;
}
br {
  @apply w-full mb-4;
}
hr {
  @apply block mt-4 mb-4 border-0 border-t-3 border-gray-900;
}
th {
  @apply text-lg;
}
pre {
  @apply block mt-1 p-4 text-xs text-gray-900 font-black bg-white border-3 border-gray-900 break-all whitespace-pre-wrap overflow-x-hidden;
  max-height: 32em;
}

::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  @apply bg-gray-200;
}
/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gray-900;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-800;
}

@tailwind components;

.btn-action {
  @apply block py-2 px-2 text-white text-center font-bold bg-gray-800 border-3 border-gray-800 no-underline;

  &:focus,
  &:hover {
    @apply text-white bg-gray-800;
  }
  &:active {
    @apply text-white bg-gray-700 border-gray-700;
  }
}
.btn-action-outline {
  @apply btn-action text-gray-900 bg-transparent;

  &:focus,
  &:hover {
    @apply text-gray-800;
  }
  &:active {
    @apply text-gray-700 border-gray-700;
  }
}

.link-header {
  @apply block text-gray-900 text-center font-bold border-b-2 border-transparent py-2 px-2 no-underline;

  &:focus,
  &:hover {
    @apply text-gray-800 border-gray-800;
  }
  &:active {
    @apply link-header border-gray-700;
  }
}

#Header,
#Sidebar {
  h3 {
    @apply pb-2 mt-8 mb-2 uppercase border-b-3 border-gray-900;
  }
  .page-link,
  .fake-link {
    @apply block p-2 text-gray-900 font-bold no-underline border-r-3 border-transparent cursor-pointer;
    transition: background-color 0.15s ease-in-out;

    &.page-link-active {
      @apply text-white border-gray-900 bg-gray-900;

      &:focus,
      &:hover {
        @apply text-white bg-gray-800;
      }
    }

    &:focus,
    &:hover {
      @apply text-gray-800 bg-gray-200;
    }
    &:active {
      @apply text-gray-700 bg-gray-400;
    }
  }
}
// Adjust Headers to Bottom Borders
#Header .page-link,
#Header .fake-link {
  @apply border-r-0 border-b-3;
}
// Made by
#Sidebar footer a {
  @apply text-gray-900 no-underline;
}

header {
  a,
  .link-header {
    @apply text-white;
  }
}

// rolltable cell selection class
table.style-default {
  th,
  td {
    font-size: initial;
  }
  th,
  td {
    @apply border px-4 py-2;
  }
  tr:nth-child(even) {
    th,
    td {
      @apply bg-gray-100;
    }
  }
  tr:nth-child(odd) {
    th,
    td {
      @apply bg-gray-200;
    }
  }
}
table[id*="rolltable"] .selected {
  @apply bg-tertiary-500 text-white;
}

@tailwind utilities;
