menu#header-links {
  @apply p-0 m-0;

  a[href="#"] {
    @apply cursor-default;
  }

  > ul {
    @apply flex flex-wrap justify-start items-end;

    > li {
      @apply relative;

      &:hover {
        > ul {
          @apply opacity-100;
          transform: translateY(0vw) translateZ(0);
        }
      }

      > ul {
        @apply z-40 absolute right-0 bg-white border-3 border-cmykBlue-100 opacity-0;
        top: 100%;
        width: 175px;
        transform: translateY(-100vw) translateZ(0);
        transition: opacity 0.15s ease-in-out;

        a {
          @apply text-left;
        }
      }
    }
  }
}
